
        .head {
            display: inline;
            display: flex;
            justify-content: space-between;
            margin-top: -0.5%;
            padding-left: 210PX;
            padding-right: 210PX;
            border-radius: 40PX;
            padding-top: 17px;
            
        }
        .main {
            background-image: linear-gradient(white, rgb(14, 243, 193));
            height: 25px;
            width: 100%;
            border-radius: 60PX;
            position: sticky;
            width: 100%; 
            background-color: rgb(245, 243, 240); 
            height: 50px;
            top: 200px;
            font-weight: 900;
        
       
        }
        .fm {
            height: 400px;
            width: 300px;
            /* box-shadow: 15px 10px 30px rgb(245, 151, 151); */
            border-radius: 30px;
            box-shadow: 10px 10px 20px rgb(171, 238, 250);
            /* border: 2px solid rgb(231, 231, 231); */
            scale: 1.2;
            transition-duration: 4s;
        }
        .fm1 {
            margin-top: 21px;
            /* text-indent: 2px; */
            background-color: rgb(252, 252, 252);
            height: 400px;
            width: 300px;
            box-shadow: 15px 10px 30px rgb(247, 135, 135);
            border-radius: 30px;
            /* box-shadow: 20px 20px 50px rgb(109, 245, 19); */
            border: 2px solid rgb(231, 231, 231);
            transition-duration: 4s;
            scale: 1.2;
        }
        .s1 {
            display: flex;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            margin-top: 10%;
            /* background-color: aliceblue; */
        }
        #M1 {
            color: rgb(8, 8, 8);
            /* background-color: rgb(255, 255, 255); */
            /* border-radius: 5px; */
        }
        #M1:hover {
            color: RED;
        }
        .s2 {
            display: flex;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            margin-top: 100px;
            border-radius: 50px;
            background-color: rgb(228, 228, 228);
        }
        .mr1 {
            background-color: rgb(255, 140, 140);
            color: yellow;
            margin-top: 60px;
        }
        .i2 {
            border-radius: 15px;
            margin-top: 50px;
        }
        .int {
            text-align: center;
            /* padding-bottom: 2px; */
        }
        .foot{
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(14, 243, 193));

            margin-top: 105px; 
            height: 50px;
            /* margin-bottom: px; */
            border-radius: 5px;
            padding-bottom: 5%;
        }
        #social{
            display: flex;
            justify-content: space-between;
            /* margin-bottom: 20px; */
            padding-left: 70PX;
            padding-bottom: 30px;
            padding-right: 70px;
            border-radius: 50PX; 
            height: 1px;
        }
        #HF{
            margin-top: -8PX;
            color: rgb(131, 4, 82);
            
        }
        #f2{
            /* justify-content: space-between; */
            text-decoration: none;
            color: rgb(0, 0, 0);
            text-shadow: 10px 5px 10px rgb(37, 82, 1);
            /* text-size-adjust: 15px; */
        }
        #f2:hover{
            color: rgb(240, 80, 6);
        }
        #btm{
            text-decoration: none;
            color: black;
        }
        #btm:hover{
            
            color: rgb(250, 42, 42);
        }
        #lnk{
            text-decoration: none;
            color: black;
        }
        #lnk:hover{
            color: rgb(240, 19, 140);
        }
        h4{
            color: rgb(250, 82, 82);
            text-align: right;
            padding-right: 10px;
            /* justify-self: auto; */
            display: inline;
        }
        .lr{
            /* padding-right: 0%; */
            align-items: center;
            display: flex;
            font-weight: 900;
            padding-left: 46%;
            text-decoration: none;
            color: rgb(238, 39, 39);
        }
        .lr:hover{
            color: rgb(151, 250, 22);
        }
        /* resister-form */
        #h3 {
            text-align: center;
            padding-top: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #h3:hover {
            color: rgb(248, 62, 108);

        }

        .fmf {
            background-size: cover;
            position: center;
            margin-top: 125px;
            background-position: right;
            background-image: url(https://cdn.pixabay.com/photo/2023/08/23/13/09/dolomites-8208541_640.jpg);              
            background-position: 100%;
            height: 360px;
            width: 320px;
            box-shadow: 15px 10px 30px rgb(44, 248, 214);
            border-radius: 30px;
            border: 1px solid rgb(119, 177, 187);
            /* transition-duration: 4s; */
        }

        input[type=text]:focus
        {
            border: none;
            border-bottom: 1px solid rgb(252, 1, 147);
            background: none;
            outline: none;
        }
        input[type="text"]
        {
            border: none;
            border-bottom: 1px solid rgb(255, 255, 255);
            background: none;
            outline: none;
        }

        #lc {
            color: rgb(4, 82, 65);
            align-content: center;
        }

        .btn {
            background-color: hsla(20, 2%, 31%, 0.363);
        }

        .it {
            margin-top: 40px;
            /* text-align: center; */
            color: rgb(255, 255, 255);
            font-size: 21px;
            display: item;
            color: rgb(255, 255, 255);
        }
        #rn {
            color: rgba(255, 208, 0, 0.918);
            font-size: 22px;
        }
        .ttl{
            margin-top: 20px;
        }
     
        /* login form stert here */
        #h3 {
            text-align: center;
            padding-top: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #h3:hover {
            color: rgb(248, 62, 108);

        }

        .fml {
            background-size: cover;
            position: center;
            margin-top: 110px;
            text-size-adjust: 5px;
            background-position: right;
            background-image: url(https://cdn.pixabay.com/photo/2023/08/23/13/09/dolomites-8208541_640.jpg);
            /* background-image: url(); */
            background-position: 100%;
            height: 399px;
            width: 390px;
            box-shadow: 15px 10px 30px rgb(117, 121, 120);
            border-radius: 30px;
            /* border: 2px solid rgb(19, 236, 243); */
            /* transition-duration: 4s; */


        }

        input[type=text]:focus {
            border: none;
            color: aliceblue;
            border-bottom: 1px solid rgb(197, 6, 6);
            background: none;
            outline: none;
        }

        input[type="text"] {
            border: none;
            border-bottom: 1px solid rgb(253, 247, 247);
            background: none;
            outline: none;
        }
/* 
        .f1 {
            margin-top: 80px;
            background-image: url(img/233131.jpg);
            display: cover;
            border-radius: 50;

        } */

        #lc {
            color: rgb(4, 82, 65);
            align-content: center;
        }

        .btn {
            background-color: hsla(30, 42%, 54%, 0.363);
        }

        .it {
            margin-top: 44px;
            /* text-align: center; */
            color: rgb(255, 255, 255);
            font-size: 18px;
            /* display: item; */
        }

        .sbtn {
            color: black;
            border: none;
            text-size-adjust: 2px solid red;
            background-color: rgb(25, 148, 248);
            border-radius: 3px;
            margin-bottom: 10px;
        }

        #rn {
            color: rgb(255, 255, 255);
            margin-top: -40px;
            font-size: 20px;
        }
      

        